[core]
	autocrlf = false
	safecrlf = true
	excludesfile = /Users/victor/.gitignore_global
	editor = vim
[alias]
	co = checkout
	ci = commit
    cia = commit -a -m 
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[push]
	default = simple
[color]
	ui = true
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
