[core]
	# Leave line endings the way they were
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
	# All of my custom aliases to speed things up a bit
	co = checkout
	ci = commit
	cia = commit -a -m 
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[push]
	default = simple
[color]
	ui = true
[color "status"]
	added = green reverse
	changed = yellow reverse
	untracked = red reverse
[user]
	useConfigOnly = true
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
