[core]
	# Leave line endings the way they were
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
	# All of my custom aliases to speed things up a bit
	co = checkout
	ci = commit
	cia = commit -a -m 
	st = status
	br = branch
	# [ hash ][ date ][ author ] message
	hista = log --pretty=format:'%C(dim white)[%Creset %C(red)%h%Creset %C(dim white)]%Creset%C(dim white)[%Creset %C(cyan)%ad%Creset %C(dim white)]%Creset%C(dim white)[%Creset %C(green)%an%Creset %C(dim white)]%Creset %s%d' --date=short
	hist = hista -20
[push]
	default = simple
[color]
	ui = true
[color "status"]
	added = green
	changed = yellow
	untracked = red
[user]
	useConfigOnly = true
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[pull]
	rebase = true
